.gifs-container{
  padding: 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

@media screen and (min-width: 768px) {
	.gifs-container{
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}

.gifs-container img:nth-child(3n+1):hover{
  outline: 5px solid limegreen;
}

.gifs-container img:nth-child(3n+2):hover{
  outline: 5px solid slateblue;
}


.gifs-container img:nth-child(3n+3):hover{
  outline: 5px solid goldenrod;
}


