.login-form{
	max-width: 320px;
	margin: 0 auto;
	color: #333;
	min-height: 40vh;
	background-color: #eee;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 20px;
}

@media screen and (min-width: 768px){
	.login-form{
		max-width: 600px;
		padding: 28px;
	}
}

.login-form__field{
	
}

.login-form__label{
	display: block;
	color: #333;
	font-size: 14px;
	margin-bottom: 5px;
}

.login-form__input{
	width: 100%;
	outline: none;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 8px;
	display: block;
	font-family: inherit;
	font-size: 18px;
	padding: 6px 12px;
	margin-bottom: 10px;

}