@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#root{
  background-color: #282c34;
  min-height: 100vh;
}

.app {
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__title{
  cursor: pointer;
  text-align: center;
  margin: 0;
  padding: 20px; 
}

.app__title--color{
  color: slateblue;
}

.app__subtitle{
  font-size:14px;
  text-align: center;
  margin-top: 0;
}

.form{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form__input{
  outline: none;
  border: none;
  padding: 10px 20px;
  font-family: sans-serif;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form__input::placeholder{
  color: #777;
  font-family: 'Poppins', sans-serif;
}

.form__button{
  border: none;
  background-color: slateblue;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  padding: 10px 12px;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 1024px) {
  .form__button:hover{
    background-color: MediumPurple;
  }
}

.app a {
	color: inherit;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
}

.app__body{
  background-color: #111;
  text-align: center;
  min-height: 100vh;
}

.app__container{
  display: grid;
}

@media screen and (min-width: 1024px) {
  .app__container{
     grid-template-columns: 1fr 400px;
  }
}

.search__title{
  text-align: center;
}

.detail__title{
  text-align: center;
}

.detail__content{
  display: flex;
  justify-content: center;
}






